# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/



# VS/IDE files
.vsconfig
*.sln
*.csproj

# Unity package caches and artifacts
/Library/PackageCache/
/Library/Artifacts/
/Library/ArtifactDB
/Packages/com.unity.burst/.Runtime/

# IDE / Editor
.vs/
.gradle/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DotSettings.user

# Builds
*.apk
*.aab
*.unitypackage
*.app
